# ML Zoomcamp Homework 1

In [5]:
import pandas as pd
import numpy as np

In [6]:
# Q1. Check pandas version
print(f"Pandas version: {pd.__version__}")

Pandas version: 2.3.1

### Q1. Pandas version

What's the version of Pandas that you installed?

In [7]:
# Download the dataset
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

# Read the dataset
data = pd.read_csv('laptops.csv')

# Display the first few rows
data.head()

--2025-09-16 11:53:05--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv’

laptops.csv         100%[===================>] 291.58K  --.-KB/s    in 0.006s

2025-09-16 11:53:05 (50.9 MB/s) - ‘laptops.csv’ saved [298573/298573]

200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv’

laptops.csv         100%[===================>] 291.58K  --.-KB/s    in 0.006s

2025-09-16 11:53:05 (50.9 MB/s) - ‘laptops.csv’ saved [298573/298573]

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

Q2. Records count
How many records are in the dataset?

12
1000
2160
12160

In [8]:
# Q2. Count the number of records in the dataset
print(f"The dataset contains {len(data)} records.")

The dataset contains 2160 records.

In [10]:
# Check the column names in the dataset
print("Column names in the dataset:")
print(data.columns.tolist())

Column names in the dataset:
['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage', 'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price']

In [11]:
# Q3. Count the number of unique laptop brands in the dataset
print(f"Number of unique laptop brands: {data['Brand'].nunique()}")

Number of unique laptop brands: 27

### Q4. Missing values

How many columns in the dataset have missing values?

- 0
- 1
- 2
- 3

In [12]:
# Q4. Count columns with missing values
columns_with_missing = data.columns[data.isnull().any()].tolist()
print(f"Number of columns with missing values: {len(columns_with_missing)}")
print(f"Columns with missing values: {columns_with_missing}")

Number of columns with missing values: 3
Columns with missing values: ['Storage type', 'GPU', 'Screen']

### Q5. Maximum final price

What's the maximum final price of Dell notebooks in the dataset?

- 869
- 3691
- 3849
- 3936

In [13]:
# Q5. Maximum final price of Dell notebooks
dell_max_price = data[data['Brand'] == 'Dell']['Final Price'].max()
print(f"Maximum final price of Dell notebooks: {dell_max_price}")

Maximum final price of Dell notebooks: 3936.0

### Q6. Median value of Screen

1. Find the median value of `Screen` column in the dataset.
2. Next, calculate the most frequent value of the same `Screen` column.
3. Use `fillna` method to fill the missing values in `Screen` column with the most frequent value from the previous step.
4. Now, calculate the median value of `Screen` once again.

Has it changed?

- Yes
- No

In [14]:
# Q6. Part 1: Find the median value of Screen column
median_before = data['Screen'].median()
print(f"Median value of Screen before filling NAs: {median_before}")

# Part 2: Calculate the most frequent value of Screen column
most_frequent = data['Screen'].mode()[0]
print(f"Most frequent value of Screen: {most_frequent}")

# Part 3: Fill missing values with the most frequent value
data['Screen_filled'] = data['Screen'].fillna(most_frequent)

# Part 4: Calculate the median value of Screen again
median_after = data['Screen_filled'].median()
print(f"Median value of Screen after filling NAs: {median_after}")
print(f"Has the median changed? {median_before != median_after}")

Median value of Screen before filling NAs: 15.6
Most frequent value of Screen: 15.6
Median value of Screen after filling NAs: 15.6
Has the median changed? False

### Q7. Sum of weights

1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns `RAM`, `Storage`, `Screen`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the sum of all the elements of the result?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- 0.43
- 45.29
- 45.58
- 91.30

In [15]:
# Q7. Sum of weights

# Part 1: Select all Innjoo laptops
innjoo_laptops = data[data['Brand'] == 'Innjoo']
print(f"Number of Innjoo laptops: {len(innjoo_laptops)}")

# Part 2: Select only columns RAM, Storage, Screen
selected_columns = innjoo_laptops[['RAM', 'Storage', 'Screen']]

# Part 3: Get the underlying NumPy array X
X = selected_columns.values
print(f"Shape of X: {X.shape}")

# Part 4: Compute matrix-matrix multiplication between X.T and X
XTX = X.T @ X
print(f"Shape of XTX: {XTX.shape}")

# Part 5: Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)
print(f"Shape of XTX_inv: {XTX_inv.shape}")

# Part 6: Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100])
print(f"Shape of y: {y.shape}")

# Part 7: Multiply the inverse of XTX with X.T, and then multiply by y
w = XTX_inv @ X.T @ y
print(f"w values: {w}")

# Part 8: Sum of all elements of the result
sum_of_weights = w.sum()
print(f"Sum of all elements of w: {sum_of_weights}")

Number of Innjoo laptops: 6
Shape of X: (6, 3)
Shape of XTX: (3, 3)
Shape of XTX_inv: (3, 3)
Shape of y: (6,)
w values: [45.58076606  0.42783519 45.29127938]
Sum of all elements of w: 91.2998806299555